main {
  display : flex;
}

#mapid {
    height : 700px;
    width: 70%;
}
h1 {
    text-align: center;
}
#restaurant_elt {
    background-color:#d8d8d7;
    color : black;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 800px;
    width : 25%;
    overflow-x: auto; 
}
.restaurant_div {
    text-align: center;
    border : 2px solid black;
    width : 95%;
    cursor : pointer;
}
.user_comment {
    display : flex;
    flex-direction: column;
    align-items: center;
}
.comment_elt {
    margin-top: 0;
}


.avis {
    text-align: center;
}
.nom_etoiles {
    display: flex;
    align-items: center;
   justify-content: space-around;
}

.nbr_etoiles {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_etoile {
    width : 20px;
    height: 20px;
}
#position{
    display : none;
    position : absolute;
    background-color: #EB984E;
    width : 300px;
    height : 140px;
    top : 40%;
    left: 30%;
}
.leaflet-popup-content-wrapper {
    border-radius : 0;
}