main {
  display : flex;
}

#mapid {
    height : 700px;
    width: 70%;
}
h1 {
    text-align: center;
}
#restaurant_elt {
    background-color:#EB984E;
    color : white;
    border: 8px solid #D68910;
    display: flex;
    flex-direction: column;
    height: 682px;
    width : 20%;
    overflow-x: auto; 
}
.restaurant_div {
    text-align: center;
    border : 2px solid #684205;
    width : 95%;
}
.user_comment {
    display : flex;
    flex-direction: column;
    align-items: center;
}

.avis {
    border : 2px solid black;
    width : 25%;
    text-align: center;
}
.nbr_etoiles {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_etoile {
    width : 20px;
    height: 20px;
}
#user_position{
    display : none;
    position : absolute;
    background-color: #EB984E;
    width : 300px;
    height : 140px;
    top : 40%;
    left: 30%;
}